@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@theme {
  --color-primary: #6A5ACD;
  --color-primary-light: #6366F1;
  --color-primary-dark: #3730A3;
  --color-secondary: #FF6FB5;
  --color-accent: #F6C900;
}

:root {
  --background: #6A5ACD;
  --foreground: #6A5ACD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6A5ACD;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-my-custom), sans-serif;
}