/* @import "tailwindcss";
@tailwind base;
@tailwind components;
@import "tailwindcss/preflight"
@tailwind utilities;
 */

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@theme {
  --color-primary: #6A5ACD;
  --color-primary-light: #6366F1;
  --color-primary-dark: #3730A3;

  --color-secondary: #22C55E;
  --color-accent: #F59E0B;

  
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}