@import "tailwindcss";


@theme {
  --color-primary: #6A5ACD;
  --color-primary-light: #6366F1;
  --color-primary-dark: #3730A3;
  --color-secondary: #FF6FB5;
  --color-accent: #F6C900;
}

:root {
  --background: #6A5ACD;
  --foreground: #6A5ACD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6A5ACD;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-my-custom), sans-serif;

}

.border-accent {
  border: var(--width) solid var(--color-accent);
}
.bg-primary-gradient {
  background: linear-gradient(180deg, #6A5ACD 0%, #3A2F82 100%);
}
.bg-profile-picture-gradient {
  background: linear-gradient(180deg, #6A72DE 0%, #2B1186 100%);
}
